body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #fff;
}

header {
    background-color: #1DB954;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #212121;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

h2 {
    color: #1DB954;
}

p {
    line-height: 1.6;
}

.back-link {
    margin-bottom: 20px;
}

.back-link a {
    color: #1DB954;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.back-link a:hover {
    text-decoration: underline;
}

.back-link .arrow {
    margin-right: 5px;
}

.faq-section {
    margin-top: 20px;
}

.faq {
    margin-bottom: 20px;
}

.faq h3 {
    color: #1DB954;
}

.contact-info {
    text-align: left;
    margin-bottom: 20px;
}

.person-photo {
    float: left;
    margin-right: 20px;
}

.person-photo img {
    height: 150px;
    width: 150px; 
    border-radius: 50%;
    display: block;
    margin: 0 auto 10px;
}

.person-info {
    overflow: hidden; 
}

footer {
    background-color: #1DB954;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}


@media screen and (max-width: 600px) {
    main {
        padding: 10px;
    }

    .person-photo {
        float: none;
        margin: 0 auto 20px;
    }
}